<div class="project-container">
  <div class="project-list" [class.full-width]="!selectedProject">
    <div class="filters">
      <mat-form-field appearance="outline">
        <mat-label>Search projects</mat-label>
        <input matInput [(ngModel)]="searchTerm" (input)="applyFilters()" placeholder="Search projects">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Filter by status</mat-label>
        <mat-select [(ngModel)]="statusFilter" (selectionChange)="applyFilters()">
          <mat-option value="All">All</mat-option>
          <mat-option value="Pending">Pending</mat-option>
          <mat-option value="Approved">Approved</mat-option>
          <mat-option value="In Progress">In Progress</mat-option>
          <mat-option value="Under Review">Under Review</mat-option>
          <mat-option value="Completed">Completed</mat-option>
          <mat-option value="On Hold">On Hold</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="project-cards">
      <mat-card *ngFor="let project of filteredProjects" 
                (click)="selectProject(project)" 
                [class.selected]="selectedProject?._id === project._id"
                class="project-card">
        <mat-card-header class="card-class-header">
          <mat-card-title>{{ project.name }}</mat-card-title>
          <mat-card-subtitle>
            Created on: {{ project.createdAt | date }}
          </mat-card-subtitle>
          <mat-chip-listbox aria-label="Project status">
            <mat-chip [color]="getStatusColor(project.status)" selected>
              {{ project.status }}
            </mat-chip>
          </mat-chip-listbox>
        </mat-card-header>
        <mat-card-content>
          <p class="truncate">{{ project.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <div class="project-details" *ngIf="selectedProject">
    <div class="project-detail-upper">
      <div class="project-detail-upper-left">
      <h2>{{ selectedProject.name }}</h2>
      <p>Created on: {{ selectedProject.createdAt | date }}</p>
    </div>
      <app-project-status-selector
      [currentStatus]="selectedProject.status"
      (statusChange)="updateProjectStatus($event)">
    </app-project-status-selector>
    </div>
    
    <!-- Chat Section -->
    <app-chat [projectId]="selectedProject._id"></app-chat>
  </div>
</div>