<mat-toolbar class="app-header" [class.header-hidden]="!isHeaderVisible">
  <div class="header-content">
    <a routerLink="/" class="header-title">
      <img src="assets/images/logo.png" alt="ByteLabyrinth Logo" class="header-logo">
      ByteLabyrinth
    </a>
    <ng-container *ngIf="isLoggedIn">
      <a mat-button routerLink="/dashboard" class="dashboard-link">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
    </ng-container>
    <span class="spacer"></span>
    <ng-container *ngIf="isHomePage">
      <button mat-button (click)="scrollTo('hero')">Home</button>
      <button mat-button (click)="scrollTo('pricing-plans')">Services</button>
      <button mat-button (click)="scrollTo('development-process')">Our Process</button>
      <button mat-button (click)="scrollTo('testimonials')">Testimonials</button>
      <button mat-button (click)="scrollTo('why-choose-us')">Why Us</button>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn; else logoutButton">
      <a mat-raised-button color="primary" (click)="openLoginPopup()">Log in</a>
    </ng-container>
    <ng-template #logoutButton>
      <a mat-raised-button color="primary" (click)="logout()" class="logout-button">Log out</a>
    </ng-template>
  </div>
</mat-toolbar>
<app-login/>