<div class="hero-container">
  <div class="content-container">
    <h1 class="title">
      Elevate Your Online Presence with
      <span class="highlight">Custom</span> Web
      Development
    </h1>
    <h2 class="subtitle">
      Choose from three tailored options to bring your web vision to life. From
      sleek static sites to dynamic e-commerce platforms, we've got you
      covered.
    </h2>
    <div class="button-container">
      <button class="explore-button" (click)="scrollToServices()">
        Explore Our Services
      </button>
    </div>
  </div>
</div>