<div class="hero-container">
  <div class="content-container">
    <h1 class="mat-display-2">
      Elevate Your Online Presence with
      <span class="highlight">Custom</span> Web
      Development
    </h1>
    <h2 class="mat-h2">
      Choose from three tailored options to bring your web vision to life. From
      sleek static sites to dynamic e-commerce platforms, we've got you
      covered.
    </h2>
    <div class="button-container">
      <button mat-raised-button color="accent" (click)="onScrollToServices()">
        Explore Our Services
      </button>
    </div>
  </div>
</div>